
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.netflix{
    height: 100%;
    width: 100%;
    /* background-color: chartreuse; */
}
.nav{
    height: 90vh;
    width: 100%;
    /* background-color: chocolate; */
    background-image: url(background.jpg);
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5)),
url(background.jpg);
    background-position: center;
    background-size: cover;
}
.upper-nav{
    height: 15vh;
    width: 100%;
    /* background-color: blue; */
    display: flex;
}
.left{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.right{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left img{
    height: 60%;
    width: 25%;
    margin-left: 10vw;
}
.laguage{
    padding: 0.6vw 1vw;
    margin-right: 1vw;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    background-color: transparent;
}
.signup{
    padding: 0.6vw 1vw;
    margin-right: 1vw;
    color: white;
    font-size: 15px;
    background-color: red;
    border-radius: 5px;
    border: none;
}
.container{
    height: 40vh;
    width: 100%;
    /* background-color: lightblue; */
    margin-top: 20vh;
    text-align: center;
    padding-top: 3vw;
}
.container h1{
    font-size: 3vw;
    font-weight: 600;
    color: white;
}
.container h3{
    margin-top: 1vw;
    color: white;
}
.container p{
    margin-top: 1vw;
    color: white;
}
.input-div{
    margin-top: 1.5vw;
}
.input-div button{
    padding: 1vw 2vw;
    margin-right: 1vw;
    color: white;
    font-size: 15px;
    background-color: red;
    border-radius: 5px;
    border: none;
}
.input-div input{
    padding: 1vw 2vw;
    margin-right: 1vw;
    color: white;
    background-color: black;
    font-size: 15px;
    border: 1px solid white;
    /* background-color: red; */
    border-radius: 5px;
    /* border: none; */
    background-filter: blur(1px);
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.5));

}
.input-div input::placeholder{
    color: rgb(79, 79, 79);
    font-size: 15px;
}
.stye-line{
    height: 7px;
    width: 100%;
    background-color: rgb(53, 53, 53);
}
.Tv-show{
    height: 75vh;
    width: 100%;
    background-color: black;
    display: flex;
}
.text-tv-show{
    height: 100%;
    width: 50%;
    background-color: black;
}
.text-tv-show h1{
    padding-top: 13vw;
    font-size: 50px;
    font-weight: 900;
}
.text-tv-show p{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 10vw;
}
.text-tv-show h1,p{
    margin-left: 10vw;
    color: white;
}
.video-tv-show{
    height: 100%;
    width: 50%;
    /* background-color: c; */
    display: flex;
    align-items: center;
    position: relative;
}
.video-box{
    height: 50%;
    width: 52%;
    /* background-color: blueviolet; */
    margin-left: 83px;
}
.video-box video{
    height: 100%;
    width: 100%;
}
.video-tv-show img{
    height: 63%;
    width: 70%;
    position: absolute;
    left: 15px;
}
.download-show{
    height: 70vh;
    width: 100%;
    /* background-color: aqua; */
    display: flex;
}
.img-download-show{
    height: 100%;
    width: 50%;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.text-download-show{
    height: 100%;
    width: 50%;
    background-color: black;
}
.img-download-show img{
    height: 90%;
    width: 80%;
}
.download-box{
    height: 15vh;
    width: 22vw;
    background-color: black;
    position: absolute;
    top: 22vw;
    right: 9vw;
    border-radius: 15px;
    border: 2px solid white;
    padding: 10px 15px;
    display: flex;
}
.poster{
    height: 100%;
    width: 20%;
    background-image: url(movi\ posters.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.downloding{
    height: 100%;
    width: 60%;
    /* background-color: chartreuse; */
    padding-top: 25px;
}
.downloding h4,p{
    margin-left: 15px;
    color: white;
}
.downloding p{
    color: rgb(77, 77, 254);
    margin-top: 5px;
}
.downloding-icon{
    height: 100%;
    width: 20%;
    /* background-color: chartreuse; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
}
.text-download-show h1{
    font-size: 50px;
    color: white;
    margin-top: 7vw;
    font-weight: 900;
}
.text-download-show p{
    font-size: 25px;
    color: white;
    margin: 0;
    margin-top: 10px;
}
.movies{
    height: 70vh;
    width: 100%;
    background-color: black;
    display: flex;
}
.movies-text{
    height: 100%;
    width: 50%;
}
.movies-ad{
    height: 100%;
    width: 50%;
    position: relative;
    display: flex;
}
.movies-ad video{
    margin-top: 7vw;
    margin-left: 3vw;
    /* box-shadow: white 0px 5px 15px; */
}
.movies-ad img{
    height: 80%;
    width: 80%;
    position: absolute;
    top: 5vw;
    
}
.movies-text h1{
    padding-top: 13vw;
    font-size: 50px;
    font-weight: 900;
    margin-left: 12vw;
    color: white;
}
.movies-text p{
    font-size: 25px;
    margin-top: 15px;
    margin-left: 12vw;
}
